<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scarb.dao.LadderMapper">
  <resultMap id="BaseResultMap" type="com.scarb.model.Ladder">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="LEAGUE" jdbcType="VARCHAR" property="league" />
    <result column="QUEUE" jdbcType="VARCHAR" property="queue" />
    <result column="PLAYERNUM" jdbcType="INTEGER" property="playernum" />
    <result column="ISCURRENT" jdbcType="TINYINT" property="iscurrent" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, LEAGUE, QUEUE, PLAYERNUM, ISCURRENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ladder
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ladder
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scarb.model.Ladder">
    insert into ladder (ID, NAME, LEAGUE, 
      QUEUE, PLAYERNUM, ISCURRENT
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{league,jdbcType=VARCHAR}, 
      #{queue,jdbcType=VARCHAR}, #{playernum,jdbcType=INTEGER}, #{iscurrent,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scarb.model.Ladder">
    insert into ladder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="league != null">
        LEAGUE,
      </if>
      <if test="queue != null">
        QUEUE,
      </if>
      <if test="playernum != null">
        PLAYERNUM,
      </if>
      <if test="iscurrent != null">
        ISCURRENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="league != null">
        #{league,jdbcType=VARCHAR},
      </if>
      <if test="queue != null">
        #{queue,jdbcType=VARCHAR},
      </if>
      <if test="playernum != null">
        #{playernum,jdbcType=INTEGER},
      </if>
      <if test="iscurrent != null">
        #{iscurrent,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scarb.model.Ladder">
    update ladder
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="league != null">
        LEAGUE = #{league,jdbcType=VARCHAR},
      </if>
      <if test="queue != null">
        QUEUE = #{queue,jdbcType=VARCHAR},
      </if>
      <if test="playernum != null">
        PLAYERNUM = #{playernum,jdbcType=INTEGER},
      </if>
      <if test="iscurrent != null">
        ISCURRENT = #{iscurrent,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scarb.model.Ladder">
    update ladder
    set NAME = #{name,jdbcType=VARCHAR},
      LEAGUE = #{league,jdbcType=VARCHAR},
      QUEUE = #{queue,jdbcType=VARCHAR},
      PLAYERNUM = #{playernum,jdbcType=INTEGER},
      ISCURRENT = #{iscurrent,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>